.create-mail-page
    height 100vh

.create-page-content
    position fixed
    height 100%
    bottom 0
    background-color #fefefe
    width 100%
    -webkit-animation-name slideIn
    -webkit-animation-duration 0.4s
    animation-name slideIn
    animation-duration 0.4s

.create-page-header
    height 60px 
    padding 20px
    border-bottom 1px solid #fff !important
    display flex
    justify-content space-between
    color #808080

.close
    float left
    font-size 28px
    font-weight bold
    display flex

.page-name
    margin-left 30px
    font-size 20px
    font-weight 600
    color black !important

.close:hover,
.close:focus
    color #000
    text-decoration none
    cursor pointer

.tool
    width 30%
    display flex
    justify-content space-between

.tool-icon
    height 100%
    align-items flex-end

.create-page-body
    padding 0px !important
    form
        width 100%
    .form-group
        margin 0px
    .form-control
        padding 10px 0px 10px 20px
        border-radius 0px
        border none

.form-group
    display flex
    border-bottom 1px solid #ced4da
    input
        height 45px
    textarea
        height 100vh !important
    .dropdown-icon 
        padding 10px 20px 10px 0px
        color grey