doctype html
head
  link(rel='stylesheet' href='create-page.styl')
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
  title compose-email
.create-mail-page
  .create-page-content  
    .create-page-header
      a.close(href='index.pug')
        .material-icons arrow_back
        .page-name Compose
      .tool
        .material-icons.tool-icon insert_link
        a.material-icons.tool-icon(href='index.pug') send
        .material-icons.tool-icon more_horiz
    .create-page-body
      form
        .form-group
          input.form-control#fromEmail(type="email" aria-describedby="emailHelp" placeholder="From") 
          .material-icons.dropdown-icon keyboard_arrow_down 
        .form-group
          input.form-control#toEmail(type="email" aria-describedby="emailHelp" placeholder="To")
          .material-icons.dropdown-icon keyboard_arrow_down 
        .form-group
          input.form-control#subject(type="text" aria-describedby="emailHelp" placeholder="Subject")
        .form-group
          textarea.form-control#compose-email(placeholder="Compose email")
      
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
